body{
  background:url('./backgound.png');
  margin: 0;
  padding: 0;
}

.navbar{
   padding: 20px;
   background-color: blueviolet;
 }
 .main{
  display: flex;
   background: #000;
   width:100%;
   padding:4%;
   justify-content: space-around;
 }
  
 .cont{
  background:#212825;
   height: 450px;
   box-shadow: 1px 1px 1px rgb(226, 77, 77);
 
   border :1px solid #B3FFE7;
   padding: 10%;
 }
 .box{
   display: flex;
   border-radius: 6%;
  box-shadow: 1px 1px aliceblue;
 margin-top: -130px;
 left: 230px;
   position: relative;
   width: 100px;
   height: 100px;
   background:#B3FFE7;
 }
label {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  padding: 13px 20px;
  position: relative;
  display: block;
  font-size: 14px;
}

input {
  width: 70%;
  margin-left: 15%;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: transparent;
  padding: 10px 20px;
  border:2px solid #1d2124;
  border-bottom: 2px solid #1d2124;
  outline: none;
  box-sizing: border-box;

  margin-bottom: 10px;
}

input:active,
input:focus {
  border-bottom: 0.12em solid #aaf0d1;
  border-color: #aaf0d1;
  box-shadow: 0 5px 5px -5px #aaf0d1;
}


img{
   
  max-width: 100%;
 
}
.button {
  width: 70%;
  background: #aaf0d1;
  color: #2c353e;
  text-transform: uppercase;
  margin-top: 1.3em;
  padding: 12px;
  cursor: pointer;
  border: 2px solid transparent;
}

.button:hover {
  background: #aaf0d1;
  box-shadow: 0 0 10px #aaf0d1, 0 0 30px #aaf0d1, 0 0 50px #aaf0d1;
}
 @media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }


  .cont{
    margin-top: 30%;
  }
  .input{
width: 50%;
  
  }
  .box{
    left:210px;
    margin-top:-100px;
  }
}